:root{
	--light-blue:#F0F2F5;
	--more-blue:#F0F2F5;
}

body{
	overflow-x:hidden;
    background-color: rgba(13, 11, 9, 0.85);
}

h4,p{
	margin:0;
	padding:0;
	}
input{
	border:none;
	outline:none;
}

.friends{
	padding-top:100px;

}
.friends .head{
    text-align:center;
    font-size:40px;
    font-weight: bold;
    margin:0;
    padding:0;
}
.my-friends{
    margin-top:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.friends h1{
    color: white;
    font-size: 50px;
}
h4.head{
    color: #aaaaaa;
    font-size: 40px;
}
.friends .cards-group{
	padding:10px;
	flex-wrap:wrap;
    margin-top:10px;
	box-shadow: 5px 5px 10px 2px rgba(0,0,0,.3);
	justify-content:center;
    background-color: #696969;
}
.friends .card-wrapper{
  border: 2px solid #121212;
  border-radius:20px;
  padding:10px;
  margin:10px;
  width:250px;
    background-color: rgba(45, 45, 45, 0.98);;
}
.friends  .card-wrapper .actions button{
	width:100%;
	height:40px;
	margin:5px 0;
	border:none;
	border-radius:7px;
	font-size:15px;
	font-weight:600;
}
.friends  .card-wrapper .actions .add-btn{
     background-color:#1B74E4;
     color:white;
 }
.card-wrapper .actions .unfriend-btn{
    background-color: #e45b16;
    color:white;
}
.card-wrapper .actions .unfriend-btn:hover{
    background-color: #e42614;
    color:white;
}
.card-wrapper .actions .delete-btn{
	background-color:#D8DADF;
	color:white;
}
.card-wrapper .actions .add-btn:hover{
	background-color:#1dacf4;
}
.card-wrapper .actions .delete-btn:hover{
	background-color:#a1a8ae;
}
